:root {
  --gap_size:7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

input {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}

input.btn {
  padding: 7px 12px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body aside.ctn_modal_page {
  position: fixed;
  background: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100vw;
  padding: var(--gap_size);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.4s ease-in;
}
body aside.ctn_modal_page .ctn_btn_close_modal {
  position: absolute;
  right: 5vw;
  top: 2vh;
}
body aside.ctn_modal_page .ctn_btn_close_modal button {
  background: red;
  padding: 6px 10px;
  border-radius: 50%;
  font-weight: 600;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in;
}
body aside.ctn_modal_page .ctn_btn_close_modal button:hover {
  transform: scale(1.1);
}
body aside.ctn_modal_page.display {
  left: 0;
}
body aside.ctn_modal_page .ctn_modal {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.normal {
  background: #FFBD6A;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.fighting {
  background: #8f0000;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.flying {
  background: #275BFF;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.poison {
  background: #973CE2;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.ground {
  background: #D9E155;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.rock {
  background: #A97934;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.bug {
  background: #E2EB27;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.ghost {
  background: #280085;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.steel {
  background: #717171;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.fire {
  background: #FF1717;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.water {
  background: #1D95FF;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.grass {
  background: #18E815;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.electric {
  background: #FCFF25;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.psychic {
  background: #F159EF;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.ice {
  background: #00B6FF;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.dark {
  background: #553C0E;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.dragon {
  background: #7C33FA;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.fairy {
  background: #ED7AFC;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.unknown {
  background: #C9C9C9;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal.shadow {
  background: #613B81;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .left_top_component_modal {
  padding: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .left_top_component_modal .ctn_info {
  text-align: center;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .left_top_component_modal .ctn_info * {
  margin: 2px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .left_top_component_modal .ctn_info .ctn_pokename {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 30px;
  background: white;
  width: fit-content;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .left_top_component_modal .ctn_info .ctn_base_experience {
  padding: 10px;
  font-size: 3rem;
  font-weight: 600;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .right_top_component_modal {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .right_top_component_modal .ctn_image {
  background: white;
  border-radius: 50%;
  padding: 10px;
  aspect-ratio: 1/1;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .right_top_component_modal .ctn_image img {
  transition: transform 0.3s ease-in-out;
  max-width: 150px;
  filter: drop-shadow(0 5px 0 black);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .top_component_modal .right_top_component_modal .ctn_image:hover img {
  transform: scale(1.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal {
  padding: 10px;
  background: rgb(227, 231, 237);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .left_ctn_data {
  padding: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .left_ctn_data .left_data_pokemon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .left_ctn_data .left_data_pokemon .left_data_pokemon_values {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .left_ctn_data .left_data_pokemon .left_data_pokemon_datatype {
  font-size: 1.2rem;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .right_ctn_data {
  padding: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .right_ctn_data .right_data_pokemon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .right_ctn_data .right_data_pokemon .right_data_pokemon_values {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .mid_component_modal .ctn_mid_data_pokemon .right_ctn_data .right_data_pokemon .right_data_pokemon_datatype {
  font-size: 1.2rem;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, mixmax(300px, 1fr));
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_abilities_pokemon {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_abilities_pokemon .title_abilities {
  text-align: center;
  font-size: 1.1rem;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_abilities_pokemon .title_abilities p {
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 3px solid red;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_abilities_pokemon .abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_abilities_pokemon .abilities .item_abilitie {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  white-space: nowrap;
  border-radius: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_types {
  margin-left: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_types .type_title {
  text-align: center;
  font-size: 1.1rem;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_types .type_title p {
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 3px solid red;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_types .ctn_types_pokemon {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_types .ctn_types_pokemon p {
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_stats_info_pokemon {
  margin-top: 10px;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_stats_info_pokemon .ctn_stats_pokemon {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_stats_info_pokemon .ctn_stats_pokemon .item_stat {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap_size);
  padding: 10px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.377);
  font-size: 0.9rem;
}
body aside.ctn_modal_page .ctn_modal .ctn_component_modal .bottom_component_modal .ctn_other_info_pokemon .ctn_stats_info_pokemon .ctn_stats_pokemon .item_stat .stat_number {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body header.top_page_search {
  position: sticky;
  top: 0;
  padding: 0 10px;
  background: red;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 10px;
  align-items: center;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body header.top_page_search .top_header_element .image_icon {
  width: 100px;
}
body header.top_page_search .mid_header_element .mid_header_element_search_ctn .form_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body header.top_page_search .mid_header_element .mid_header_element_search_ctn .form_search .ctn_text_input {
  width: 100%;
}
body header.top_page_search .mid_header_element .mid_header_element_search_ctn .form_search .ctn_text_input input {
  border-radius: 10px;
  padding: 5px;
}
body header.top_page_search .mid_header_element .mid_header_element_search_ctn .form_search .ctn_text_input input::placeholder {
  padding: 0 5px;
}
body main.mid_page_pokemons .top_main_page {
  position: relative;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
body main.mid_page_pokemons .top_main_page::after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon {
  margin-bottom: 80px;
  padding: 10px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  gap: 10px;
  justify-content: center;
  align-content: center;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  height: 350px;
  position: relative;
  display: grid;
  grid-template-rows: 0.6fr 0.4fr;
  overflow: hidden;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon {
  position: absolute;
  border: 2px solid white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 7px 8px;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.8), 0 1px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3%;
  right: 5%;
  z-index: 1;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.normal {
  background: #FFBD6A;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.fighting {
  background: #8f0000;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.flying {
  background: #275BFF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.poison {
  background: #973CE2;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.ground {
  background: #D9E155;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.rock {
  background: #A97934;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.bug {
  background: #E2EB27;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.ghost {
  background: #280085;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.steel {
  background: #717171;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.fire {
  background: #FF1717;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.water {
  background: #1D95FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.grass {
  background: #18E815;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.electric {
  background: #FCFF25;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.psychic {
  background: #F159EF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.ice {
  background: #00B6FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.dark {
  background: #553C0E;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.dragon {
  background: #7C33FA;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.fairy {
  background: #ED7AFC;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.unknown {
  background: #C9C9C9;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .ctn_base_experience_card_pokemon.shadow {
  background: #613B81;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon {
  position: relative;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon .card_img {
  position: absolute;
  background: white;
  border-radius: 50%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon .card_img img {
  max-width: 170px;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon .info-card {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 20px;
  padding: 2px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon .info-card p {
  white-space: nowrap;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.normal::before {
  background: #FFBD6A;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.fighting::before {
  background: #8f0000;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.flying::before {
  background: #275BFF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.poison::before {
  background: #973CE2;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.ground::before {
  background: #D9E155;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.rock::before {
  background: #A97934;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.bug::before {
  background: #E2EB27;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.ghost::before {
  background: #280085;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.steel::before {
  background: #717171;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.fire::before {
  background: #FF1717;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.water::before {
  background: #1D95FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.grass::before {
  background: #18E815;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.electric::before {
  background: #FCFF25;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.psychic::before {
  background: #F159EF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.ice::before {
  background: #00B6FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.dark::before {
  background: #553C0E;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.dragon::before {
  background: #7C33FA;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.fairy::before {
  background: #ED7AFC;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.unknown::before {
  background: #C9C9C9;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon.shadow::before {
  background: #613B81;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .top_card_pokemon::before {
  content: "";
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  background: rgb(235, 49, 49);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon {
  display: grid;
  grid-template-columns: 0.8fr 0.4fr;
  padding: 10px;
  align-items: center;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_left_card_pokemon {
  border-right: 2px solid black;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_left_card_pokemon .ctn_stats_pokemon {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap_size);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_left_card_pokemon .ctn_stats_pokemon .item_stat {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--gap_size);
  font-size: 0.9rem;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_left_card_pokemon .ctn_stats_pokemon .item_stat .stat_number {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon {
  height: 100%;
  padding: 10px;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_type_pokemon * {
  display: list-item;
  list-style: none;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_type_pokemon .title_type {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_type_pokemon .value_type {
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 0px black, 2px 0px 0px black, -2px 0px 0px black, 0px -2px 0px black;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon {
  background: red;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.normal {
  background: #FFBD6A;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.fighting {
  background: #8f0000;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.flying {
  background: #275BFF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.poison {
  background: #973CE2;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.ground {
  background: #D9E155;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.rock {
  background: #A97934;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.bug {
  background: #E2EB27;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.ghost {
  background: #280085;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.steel {
  background: #717171;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.fire {
  background: #FF1717;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.water {
  background: #1D95FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.grass {
  background: #18E815;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.electric {
  background: #FCFF25;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.psychic {
  background: #F159EF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.ice {
  background: #00B6FF;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.dark {
  background: #553C0E;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.dragon {
  background: #7C33FA;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.fairy {
  background: #ED7AFC;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.unknown {
  background: #C9C9C9;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon.shadow {
  background: #613B81;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon .btn_display_pokemon {
  background: transparent;
  color: white;
  font-weight: 600;
  transition: transform 0.3s ease;
  text-rendering: optimizeSpeed;
}
body main.mid_page_pokemons .ctn_all_cards_pokemon .card_pokemon .bottom_card_pokemon .ctn_right_card_pokemon .ctn_info_actions_card .ctn_btn_action_show_pokemon .btn_display_pokemon:hover {
  transform: scale(1.2);
}
body footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background: red;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body footer .ctn_paginator_page {
  padding: 10px;
}
body footer .ctn_paginator_page .ctn_btns_interface {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
body footer .ctn_paginator_page .ctn_btns_interface button {
  position: absolute;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
body footer .ctn_paginator_page .ctn_btns_interface button:hover {
  background-color: rgb(255, 255, 0);
}
body footer .ctn_paginator_page .ctn_btns_interface button.previous_page {
  left: -5vw;
}
body footer .ctn_paginator_page .ctn_btns_interface button.next_page {
  right: -5vw;
}
body footer .ctn_paginator_page .ctn_btns_paginator {
  display: flex;
  gap: 5px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
body footer .ctn_paginator_page .ctn_btns_paginator::-webkit-scrollbar {
  display: none;
  background: transparent;
  color: transparent;
}
body footer .ctn_paginator_page .ctn_btns_paginator .btn_paginator {
  display: inline-block;
  list-style: none;
}
body footer .ctn_paginator_page .ctn_btns_paginator .btn_paginator button {
  padding: 7px 15px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
body footer .ctn_paginator_page .ctn_btns_paginator .btn_paginator button:hover {
  box-shadow: inset 0 3px 0px black;
}

/*# sourceMappingURL=index.css.map */
